@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Labrada&family=Montserrat:wght@300&family=Nunito:wght@600&family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
    width: 1px; /* Very thin width */
}

/* Optional: Customize scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 1px;
}

/* Optional: Hover state for scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.control-dots{
    visibility: hidden;
}

#home-official-partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden; 
}

#home-official-partner img {
    width: 40%;
    object-fit: contain;
}

#video-tutorial{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#video-tutorial-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    justify-content: space-around;
    overflow: hidden; 
}

#video-tutorial-text{
    justify-items: center;
    height: 50px;
    margin: 10px 10px 20px;
}

#video-tutorial-img img {
    height: 80%; 
    width: auto; 
    object-fit: contain; 
}

#video-tutorial-img video {
    height: 80%; 
    width: auto; 
    object-fit: contain; 
    border-radius: 20px;
}

#home-card-display-widget{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-card-display-widget-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}

#home-card-display-widget-img img {
    height: 80%;
    width: 30%;
    margin: 0 20px;
    border-radius: 50px;
}

#home-card-display-widget-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#home-card-display-view-all{
    margin: 20px 0px 0px 0px;
}

#home-winners-containers{
    display: flex;
    justify-content: center;
    margin: 60px 0px 40px 0px;
    img{
        width: 70%;
    }
}

#home-break-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1px;
    overflow: hidden; 
    margin: 0 20px;
    background-color: black;
}

#home-other-sports{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#home-other-sports img{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    object-fit: contain;
}

#cricket-match{
    margin: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#cricket-match-upcoming-contest-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 0px;
    width: 100%;
    margin: 15px;
}

#cricket-match-upcoming-contest-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    height: 300px;
}

#cricket-match-contests{
    margin: 30px;
    display: flex;
    flex-direction: column;
}


#cricket-match-contest-both-cards{
    margin: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0px;
    border-radius: 10px;
    height: 300px;
    width: 90%;
}

.cricket-match-card{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}


.cricket-match-contest-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}

#cricket-match-contest-join-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 0px;
    width: 100%;
    margin: 25px;
    img{
        width: 225px;
        height: 225px;
        border-radius: 10px;
        object-fit: cover;
    }
}



#cricket-match-contest-details-info, #cricket-match-details-info{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBDA43;
}

#cricket-match-contest-details-tabs{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

.cricket-match-contest-details-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
}

#Navbar{
    background-color: rgba(48, 4, 4, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#Navbar-logo{
    width: 200px;
}

#Navbar-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.Navbar-button{
    color: white;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}

#Navbar-language-button{
    color: white;
    font-weight: 600;
    background-color: rgba(73, 9, 10, 1);
    height: 40px;
    width: 100px;
    border: 5px solid transparent;
    padding: 5px;
    border-radius: 20px;
    &:focus-visible{
        outline: none;
    }
}

#sport-selection-button{
    background-color: rgba(48, 4, 4, 1);
    color: white;
    font-weight: 600;
    border: none;
    &:focus-visible{
        outline: none;
    }
}

.match-carousel-tile{
    width: 100%;
    height: 490px;
    background-image: radial-gradient(circle, rgba(117, 13, 13, 1), rgba(21, 1, 1, 1));
    padding: 60px 100px 0px 100px;
}

.match-carousel-tile-main{
    background-image: radial-gradient(circle, rgba(219, 25, 25, 1),rgba(117, 13, 13, 1));
    height: 430px;
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
}

.match-carousel-tile-match{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.match-carousel-tile-teams{
    margin: 30px 0px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-carousel-tile-time span{
    font-size: 15px;
}

.match-carousel-tile-team{
    width: 150px;
    margin: 10px;
}

.match-carousel-tile-team img{
    border-radius: 50%;
    width: 100px;
    height: 150px;
    margin-bottom: 20px;
}

.match-carousel-tile-time h3{
    margin: 10px 0px;
    padding: 4px 12px;
    border-radius: 18px;
    background-color: rgba(73, 9, 10, 1);
}

.match-carousel-join-button{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: rgba(29, 193, 32, 1);
    color: white;
    cursor: pointer;
    :focus-visible{
        outline: none;
    }
}

.match-carousel-prize-display{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 30%;
    color: white;
    background-color: rgba(254, 216, 60, 0.5);
    :focus-visible{
        outline: none;
    }
}

#cricket-match-contest-table{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    table{
        color: rgb(179, 23, 23);
        width: 50%;
        td{
            color: gray;
        }
    }
    table, th, td{
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
}

.cricket-match-contests{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

#team-preview-container{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    > img{
        width: 500px;
    }
    .wicket-keepers, .batters, .allrounders, .bowlers{
        display: flex;
        justify-content: center;
    }
    .wicket-keepers{
        position: absolute;
        top: 130px;
        left: 50.5%;
        transform: translate(-50%,-50%);
    }
    .batters{
        position: absolute;
        top: 280px;
        left: 50.5%;
        transform: translate(-50%,-50%);
    }
    .allrounders{
        position: absolute;
        top: 430px;
        left: 50.5%;
        transform: translate(-50%,-50%);
    }
    .bowlers{
        position: absolute;
        top: 580px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .team-preview-player{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        font-size: 13px;
        font-weight: 500;
        center{
            padding: 4px;
            border-radius: 5px;
            background-color: white;
        }
    }
}

#dream-ai-team{
    display: flex;
    flex-direction: column;
    margin: 0px 40px; 
}

#dream-ai-team-selected-table,#remaining-players-selected-table, #confirm-your-team-selected-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    margin: 20px 0;
    padding: 40px 0;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    table{
        color: rgb(179, 23, 23);
        width: 95%;
        td{
            color: gray;
            text-align: center;
        }
    }

    table, th, td{
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
}

#dream-ai-team-preview-button{
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    width: 100%;
    align-self: center;
    font-weight: 500;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color:#F4F4F4;
    :focus-visible{
        outline: none;
    }
}

#dream-ai-team-next-button,#confirm-your-team-button{
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    width: 100%;
    align-self: center;
    border: none;
    border-radius: 40px;
    outline: none;
    background-color: rgba(29, 193, 32, 1);
    color: #F4F4F4;
    :focus-visible{
        outline: none;
    }
}

#confirm-your-team{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

#quiz-background{
    background-image: radial-gradient(rgb(186, 10, 10),rgb(19, 1, 1));
    width: 100%;
    height: 100vh;
    #quiz-img-1{
        position: absolute;
        top: 200px;
        right: 70px;
        width: 450px;
        border-radius: 10%;
    }
    #quiz-img-2{
        position: absolute;
        top: 200px;
        left: 100px;
        width: 350px;
        border-radius: 10%;
    }
}

#start-quiz-background{
    background-image: radial-gradient(rgb(186, 10, 10),rgb(114, 9, 9));
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 40px;
        font-weight: 600;
        margin: 20px;
    }
    button{
        width: 120px;
        font-size: 20px;
        font-weight: 500;
        margin: 20px;
        background-color: rgb(5, 224, 5);
        border-radius: 5px;
        cursor: pointer;
        outline: none; border: none;
        height: 40px;
        color: white;
        :focus-visible{
            outline: none;
        }
    }
    #start-quiz-options{
        width: 500px;
        margin: 10px;
    }
    .start-quiz-option{
        font-size: 20px;
        font-weight: 600;
        margin: 10px;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        color: black;
    }
}

#quiz-title-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    span{
        font-size: 70px;
        font-weight: 600;
        color: rgba(255, 216, 36, 1);
        margin: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    p{
        font-size: 30px;
        color: white;
        margin: 25px;
    }
    img{
        margin: 25px;
    }
}

#quiz-desc{
    position: absolute;
    top: 33%;
    left: 35%;
    color: white;
    padding: 15px;
    font-size: 20px;
    div{
        background-color: rgb(186, 10, 10);
        margin-bottom: 40px;
        padding: 15px;
        border-radius: 15px;
    }
    center{
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

#quiz-play-button{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(5, 224, 5);
    cursor: pointer;
    outline: none;
    border: none;
    height: 45px;
    border-radius: 10px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    :focus-visible{
        outline: none;
    }
}

#quiz-timer{
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        border: 5px solid black;
        background-image: url("src/assets/timer.png");
        background-size: cover;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
        color: black;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 30px;
        font-weight: 600;
    }
}

#quiz-result{
    font-size: 20px;
}

#quiz-result-desc{
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 36%;
    color: white;
    font-size: 20px;
    span{
        font-size: 25px;
        font-weight: 600;
    }
}

.chatbot{
    background-color: rgb(222, 238, 255);
    border-radius: 50px;
    position: fixed;
    z-index: 1;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    border: 10px solid black;
    .chats-container{
        visibility: hidden;
    }
    > img{
        width: 80px;
        height: 80px;
    }
    .chat-close{
        visibility: hidden;
    }
    .chat-input{
        visibility: hidden;
        width: 0; height: 0;
    }
}

.chatbot-open{
    border: 5px solid black;
    border-radius: 20px;
    height: 560px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(hsla(0, 100%, 13%, 1),hsla(0, 100%, 13%, 1));
    .chats-container{
        color: white;
        visibility: visible;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        overflow: auto;
        #chatbot-icon {
            width: 40px;
            height: 40px;
            margin: 0 10px 0 0;
            border-radius: 50%;
        }
        p{
            padding: 6px 6px;
            border-radius: 5px;
        }
        #chat-speaker{
            padding: 8px;
            width: 20px;
            height: 20px;
        }
    }
    .chat-spacer{
        height: 20px;
    }
    > img{
        visibility: hidden;
        width: 0; height: 0;
    }
    .chat-input{
        visibility: visible;
        position: relative;
        bottom: 0px;
        left:  0px;
        width: 505px;
        input{
            border-radius: 15px 0 0 15px;
            border: 1px solid black;
            width: calc(100% - 75px);
            padding: 10px;
            outline: none;
            background-color: rgb(139, 14, 14);
            color: white;
            :focus-visible{
                outline: none;
            }
            &::placeholder{
                color: rgb(193, 193, 193);
                opacity: 1;
            }
            &::-ms-input-placeholder { /* Edge 12 -18 */
                color: rgb(138, 0, 0);
                opacity: 1;
            }
        }
        button{
            border-radius: 0 15px 15px 0;
            border: 1px solid black;
            width: 50px;
            height: 40px;
            background-color: rgb(209, 9, 29);
            color: white;
            font-weight: 600;
        }
    }
    .chat-close{
        visibility: visible;
        border-radius: 20px;
        z-index: 2;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border: 4px solid black;
        color: red;
    }
    .chatbot-chat{
        color: white;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
}

#dream-ai-chatbot{
    background-color: rgb(114, 9, 9);
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    #dream-ai-chatbot-chats-container{
        width: 65%;
        .chatbot-chat{
            color: white;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        p{
            padding: 16px 16px;
            border-radius: 15px 15px 0 15px;
        }
    }
    #chatbot-icon{
        width: 50px;
        height: 60px;
    }
    #chat-speaker{
        width: 25px;
        height: 25px;
        margin: 16px 10px;
    }
    .chat-input{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 65%;
        display: flex;
        align-items: center;
        input{
            margin: 10px 0px 10px 10px;
            border-radius: 15px 0 0 15px;
            border: 1px solid black;
            width: calc(100% - 115px);
            height: 40px;
            padding: 10px;
            outline: none;
            background-color: rgb(139, 14, 14);
            color: white;
            :focus-visible{
                outline: none;
            }
            &::placeholder{
                color: rgb(193, 193, 193);
                opacity: 1;
            }
            &::-ms-input-placeholder { /* Edge 12 -18 */
                color: rgb(138, 0, 0);
                opacity: 1;
            }
        }
        button{
            border-radius: 0 15px 15px 0;
            border: 1px solid black;
            width: 65px;
            height: 60px;
            background-color: rgb(209, 9, 29);
            color: white;
            font-weight: 600;
        }
    }
}