*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home-official-partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden; 
}

#home-official-partner img {
    height: 100%; 
    width: auto; 
    object-fit: contain; 
}

#video-tutorial{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#video-tutorial-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    justify-content: space-around;
    overflow: hidden; 
}

#video-tutorial-text{
    justify-items: center;
    height: 50px;
}

#video-tutorial-img img {
    height: 80%; 
    width: auto; 
    object-fit: contain; 
}

#home-card-display-widget{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-card-display-widget-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    overflow: hidden; 
}

#home-card-display-widget-img img {
    height: 80%; 
    width: 28%;
    object-fit: contain; 
    margin: 0 20px;
}

#home-card-display-widget-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#home-break-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1px;
    overflow: hidden; 
    margin: 0 20px;
    background-color: black;
}

#home-other-sports{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#home-other-sports img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    object-fit: contain;
}

#cricket-match{
    margin: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#cricket-match-upcoming-contest-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 0px;
    width: 100%;
    margin: 15px;
}

#cricket-match-upcoming-contest-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    height: 300px;
}

#cricket-match-contests{
    margin: 30px;
    display: flex;
    flex-direction: column;
}


#cricket-match-contest-both-cards{
    margin: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: #F4F4F4;
    padding: 0px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    width: 90%;
}

.cricket-match-contest-card{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

#cricket-match-contest-details-info, #cricket-match-details-info{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBDA43;
}

#cricket-match-contest-details-tabs{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

.cricket-match-contest-details-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
}

#Navbar{
    background-color: rgba(48, 4, 4, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#Navbar-logo{
    width: 200px;
}

#Navbar-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.Navbar-button{
    color: white;
    padding: 10px;
    font-weight: 500;
}

#Navbar-language-button{
    color: white;
    font-weight: 600;
    background-color: rgba(73, 9, 10, 1);
    height: 40px;
    width: 100px;
    border: 5px solid transparent;
    padding: 5px;
    border-radius: 20px;
    &:focus-visible{
        outline: none;
    }
}

#sport-selection-button{
    background-color: rgba(48, 4, 4, 1);
    color: white;
    font-weight: 600;
    border: none;
    &:focus-visible{
        outline: none;
    }
}

.match-carousel-tile{
    width: 100%;
    height: 490px;
    background-image: radial-gradient(circle, rgba(117, 13, 13, 1), rgba(21, 1, 1, 1));
    padding: 60px 100px 0px 100px;
}

.match-carousel-tile-main{
    background-image: radial-gradient(circle, rgba(219, 25, 25, 1),rgba(117, 13, 13, 1));
    height: 430px;
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
}

.match-carousel-tile-match{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.match-carousel-tile-teams{
    margin: 30px 0px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-carousel-tile-time span{
    font-size: 15px;
}

.match-carousel-tile-team{
    width: 150px;
    margin: 10px;
}

.match-carousel-tile-team img{
    border-radius: 50%;
    width: 100px;
    height: 150px;
    margin-bottom: 20px;
}

.match-carousel-tile-time h3{
    margin: 10px 0px;
    padding: 4px 12px;
    border-radius: 18px;
    background-color: rgba(73, 9, 10, 1);
}

.match-carousel-join-button{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: rgba(29, 193, 32, 1);
    color: white;
    :focus-visible{
        outline: none;
    }
}

.match-carousel-prize-display{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 30%;
    color: white;
    background-color: rgba(254, 216, 60, 0.5);
    :focus-visible{
        outline: none;
    }
}

#cricket-match-contest-table{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    table{
        color: rgb(179, 23, 23);
        width: 50%;
        td{
            color: gray;
        }
    }
    table, th, td{
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
}

.cricket-match-contests{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
